.navbar-mobile {
    height: 4rem;
}

.navbar-mobile-menu {
    top: 4rem;
    z-index: 60;
}

.navbar-mobile-toggle svg {
    width: 2rem;
    height: 2rem;
}

.navbar-mobile-toggle:active {
    -webkit-tap-highlight-color: transparent;
}
