.navbar {
    height: 4.25rem;
}

.navbar-logo {
    font-weight: 700;
    letter-spacing: -0.025rem;
    font-size: 1.25rem;
}

#register-link:hover, #register-link:active {
    background-color: #1d4ed8;
}
